body {
    margin: 0;
    background: rgb(54, 54, 54);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
}

html{
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0.801);
}

.logotext{
    margin-left: 2em;
}
.menubar{
    width: 50%;
    margin-left: 8.5em;
}

.list{
    display: flex;
    justify-content: space-between;
    margin-left: 2em;
}

.list-items a{
   color: white;
   font-family: Arial, Helvetica, sans-serif;
   font-weight: bold;
   font-size: medium;
   margin-right: 2em;
   transition: 0.4s;
}

.list-items a:hover{
   color: blueviolet;
   
}

.outerL{
   height: 28px;
   width: 32px;
   display: none;
}

.layer1,.layer2,.layer3{
   background: white;
   height: 2px;
   margin-top: 6px;
   width: 100%;
   border-radius: 10px;
}

.section1 .banner .caption h1{
    font-size: 3em;
}


.menusidebar{
    display: none;
}

.none{
    display: none;
}

.section1 {
    display: block;
    background: linear-gradient(-45deg, rgba(0, 0, 0, 0.493), rgb(13, 113, 194),aqua, blue, rgba(0, 0, 0, 0.493));
    height: 70px;
    border: none;
    
}

.caption {
    margin-top: 30px ;
    margin-bottom: 30px;
}

.caption h1 {
    margin-top: 15px;
    display: block;
    margin-left: 10px;
    font-size: 3em;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.tablee{
    display: flex;
    justify-content: center;
}

table{
    width: 100%;
    margin-top: 5em;
}


td{
    text-align: left;
}

th{
    text-align: left;
}

@media screen and (max-width:768px) {
    .logo{
        padding-left: 0;
        margin-left: 10;
    }

    .logotext{
        margin-right: 1em;
    }

    .menubar{
        display: none;
    }

    .outerL{
        margin-left: 2em;
        display: block;
    }

    .section1 .banner .caption h1{
        font-size: 3em;
    }

    .menusidebar{
        display: block;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        z-index: 11;
        background: rgb(66, 63, 66);
        overflow: hidden;
        transform: translate(-100%);
        transition: 0.3s linear
    }

    .menumenubar{
        display: flex;
        height: 80%;
        justify-content: center;
    }

    .menulist{
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .menusidebar .closemenu{
        position: absolute;
        right: 30px;
        font-size: 1.4em;
    }

    .menulistitems a{
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
    }

    .menulistitems a:hover{
        color: blueviolet;
    }

}

@media screen and (max-width: 480px) {
    *{
        font-size: 16px;
    }

    .navbar{
        width: 100%;
    }
    
    .section1{
        width: 100%;
        height: 36px;
    }

    .section1 .banner .caption h1{
        font-size: 2em;
        margin-bottom: 30px;
    }
    

    .outerL{
        margin-left: 1em;
        display: block;
        width: 30px;
    }

    .logotext{
        margin-right: 1em;
    }

    
}

@media screen and (max-width: 380px) {
    *{
        font-size: 16px;
    }

    .navbar{
        width: 100%;
    }
    
    .section1{
        width: 100%;
        height: 36px;
    }

    .section1 .banner .caption h1{
        font-size: 1.8em;
        margin-bottom: 30px;
        width: 380px;
    }
    

    .outerL{
        margin-left: 1em;
        display: block;
        width: 30px;
    }

    

}


